<div class="centered-content">
    <div class="task-manager-container">

        <div class="sidebar">
            <h1 class="title">
                List
            </h1>
            <ng-container *ngFor="let list of lists">
                <div class="list-menu">
                    <a class="list-menu-item active" [routerLink]="['/list',list._id]">
                        <p> {{list.title | titlecase}} </p>
                    </a>
                </div>
            </ng-container>

            <button class="primary-btn" routerLink="/new-list">
                + New List
            </button>


        </div>

        <div class="task-list-container">
            <h1 class="title">
                Task
            </h1>
            <div class="task">
                <p>This is something to i have do</p>
            </div>
            <div class="task">
                <p>This is something to i have do</p>
            </div>
            <div class="task">
                <p>This is something to i have do</p>
            </div>
            <div class="task complete">
                <p>This is something to i have do</p>
            </div>
        </div>
    </div>
</div>
